body {
	width: 770px;
	font-family: Arial;
	font-size: 1.5em;
	color : black;
}

div.Barra_navegacion {
	height: 100px;
}

div.Zona_principal {
 

}
div.Zona_secundaria {

}

div.Zona_enlaces {
	width: 130px;
}

a .enlaces{
	color: blue;
}

a:hover {
	color: green;
}

p {
	top: 0.5em
}
footer {

}